.item {
  width: 100%;
  min-height: 27px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}

.item__expand {
  height: 100%;
  margin-right: 0.25rem;
  border-radius: calc(var(--radius) - 4px);
}

.item__expand:hover {
  background-color: hsl(var(--primary) / 0.05);
}

.item__add {
  width: 100%;
  margin-left: auto;
  opacity: 0;
  border-radius: calc(var(--radius) - 4px);
}

.item__options {
  width: 100%;
  margin-left: auto;
  opacity: 0;
  border-radius: calc(var(--radius) - 4px);
}

.item__options:hover {
  background-color: hsl(var(--primary) / 0.05);
}

.item__add:hover {
  background-color: hsl(var(--primary) / 0.05);
}

.item__kbd {
  height: 1.25rem;
  margin-left: auto;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  border-width: 1px;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 10px;
  color: hsl(var(--muted-foreground));
  background-color: hsl(var(--muted));
  opacity: 1;
  user-select: none;
  pointer-events: none;
}

.item:hover .item__add {
  opacity: 1;
}

.item:hover .item__options {
  opacity: 1;
}

.item:hover {
  background-color: hsl(var(--primary) / 0.05);
}

.item--active {
  background-color: hsl(var(--primary) / 0.05);
  color: hsl(var(--primary));
}
